# Ignore some Perl build files
blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib

# Ignore the following files/folders withing this project:
*.bak
*.old
*.ppt
*.mpg
# AWS private credential stash!!!
*.aws_credentials.txt

# Komodo proyect files
# v 5.x
*.kpf
# v 6.x
*.komodoproject
