/*****
  Multi-line comment
  before a new class name
*****/
.classname {
    /* comment in declaration block */
    font-weight: normal;
}

.empty { ;}
.nonempty {border: 0;}

zeros {
    margin: 0px 0pt 0em 0%;
    background-position: 0 0ex;
    padding: 0in 0cm 0mm 0pc
}

.floats {
    margin: 0.6px 0.333pt 1.2em 8.8cm;
}

.color-rgbme {
    color: rgb(123, 123, 123);
    border-color: #ffeedd;
    background: none repeat scroll 0 0 rgb(255, 0,0);
}

@charset "utf-8";
#foo {
    border-width: 1px;
}
 
/* second css, merged */
@charset "another one";
#bar {
    border-width: 10px;
}

.ieopacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);       /* IE < 8 */
}

.shortnone {
    border: none;
    background: none;
    outline: none;
}

#iehackpreserve {
    width: 1px;
    *width: 2px;
    _width: 3px;
}

html >/**/ body p {
    color: blue;
}